/* style.css */
body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.message {
    margin-top: 20px;
}

.typewriter-text {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 3s steps(70, end), blink-caret 0.5s step-end infinite;
    text-align: center;
    margin-bottom: 20px; /* Menambahkan margin bawah untuk membuat ruang di antara baris */
}

.second-line {
    animation: appear 2s forwards;
    opacity: 0;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-right: 2px solid transparent;
    }
    50% {
        border-right: 2px solid white;
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}